/ parallax2
%section#parallax2.section.parallax{"data-stellar-background-ratio" => "0.5"}
  .align-center.pad-top40.pad-bot40
    %blockquote.bigquote.color-white Indoctum accusamus comprehensam
    %p.color-white Bootstraptaste
