/ parallax 1
%section#parallax1.section.pad-top40.pad-bot40{"data-stellar-background-ratio" => "0.5"}
  .container
    .align-center.pad-top40.pad-bot40
      %blockquote.bigquote.color-white Indoctum accusamus comprehensam
      %p.color-white Bootstraptaste
