/ services
%section#section-services.section.pad-bot30.bg-white
  .container
    .row.mar-bot40
      .col-lg-4
        .align-center
          %i.fa.fa-code.fa-5x.mar-bot20
          %h4.text-bold Valid HTML5
          %p
            Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no.
            Mei cu dicat voluptaria volumus.
      .col-lg-4
        .align-center
          %i.fa.fa-terminal.fa-5x.mar-bot20
          %h4.text-bold Responsive
          %p
            Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no.
            Mei cu dicat voluptaria volumus.
      .col-lg-4
        .align-center
          %i.fa.fa-bolt.fa-5x.mar-bot20
          %h4.text-bold Customizable
          %p
            Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no.
            Mei cu dicat voluptaria volumus.
