/ testimonial
%section#testimonials.section{"data-stellar-background-ratio" => "0.5"}
  .container
    .row
      .col-lg-12
        .align-center
          .testimonial.pad-top40.pad-bot40.clearfix
            %h5
              Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Vivamus tempor tempus mauris vitae fermentum. In vitae nulla lacus. Sed sagittis tortor vel arcu sollicitudin nec tincidunt metus suscipit.Nunc velit risus, dapibus non interdum.
            %br/
            %span.author
              \— MIKE DOE
              %a{:href => "#"} www.siteurl.com
