%section#footer.section.footer
  .container
    .row.animated.opacity.mar-bot20{"data-andown" => "fadeIn", "data-animation" => "animation"}
      .col-sm-12.align-center
        %ul.social-network.social-circle
          %li
            %a.icoRss{:href => "#", :title => "Rss"}
              %i.fa.fa-rss
          %li
            %a.icoFacebook{:href => "#", :title => "Facebook"}
              %i.fa.fa-facebook
          %li
            %a.icoTwitter{:href => "#", :title => "Twitter"}
              %i.fa.fa-twitter
          %li
            %a.icoGoogle{:href => "#", :title => "Google +"}
              %i.fa.fa-google-plus
          %li
            %a.icoLinkedin{:href => "#", :title => "Linkedin"}
              %i.fa.fa-linkedin
    .row.align-center.copyright
      .col-sm-12
        %p
          Copyright © 2014 Amoeba - by
          %a{:href => "http://bootstraptaste.com"} Bootstraptaste
%a.scrollup{:href => "#header"}
  %i.fa.fa-chevron-up
